.add-reminder {
  text-align: center;

  &__picker {
    &:not(:last-of-type) {
      margin-right: 10px;
    }
  }

  &__pickers {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding-bottom: 1.5em;
    width: 50%;
  }
}
