.form-element {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5em;
  text-align: left;
  width: calc(50% - 1em);

  label {
    margin-bottom: 10px;
  }

  select, input, textarea {
    font-family: 'Roboto', sans-serif;
    padding: 0.65em;
  }

  &:nth-of-type(odd) {
    margin-right: 1em;
  }

  &--no-padding {
    padding-bottom: 0;
  }
}
