.day {
  background: #fff;
  cursor: pointer;
  height: 8em;
  padding: 10px;
  text-align: right;
  transition: background ease-in-out 350ms;

  &:hover {
    background: #f5f5f5;
  }

  &__number {
    .day--current & {
      background: red;
      border-radius: 25%;
      color: #f5f5f5;
    }
  }
}
